{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    {#    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">#}
    {#    <link rel="stylesheet" href="/resources/demos/style.css">#}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<body style="background-image: url({{ img.url }});background-size:cover;">
<!-- ======= Header ======= -->
<header id="header">
    <div class="container">

        <h1 class="logo mr-auto"><a href="{% url 'index' %}">ɛɮʍ</a></h1>

    </div>
</header><!-- End Header -->
<div class="container ">
    {% if event_books.non_field_errors %}
        <div class="alert alert-danger">
            {{ event_books.non_field_errors }}
        </div>
    {% endif %}
    <div class="row justify-content-center mb-3">
        <div class="col-md-4 col-sm-6 col-12">
            <img src="{{ package.image.url }}" alt="" width="100%">
        </div>
    </div>
    <form class="bg-white p-3 rounded shadow row justify-content-center align-items-center"
          action="{% url 'checkout' package.id %}" method="post">
        {% csrf_token %}

        <div class="col-12">
            <h5>{{ package.title|capfirst }}</h5>
            {% if event_books.package_food %}
                <div class="mb-3">
                    <label for="id_my_venue">Event venue</label>
                    <select name="my_venue" id="id_my_venue" class="form-control"
                            onchange="change_event_venue()">
                        {% for id, name in event_books.my_venue.field.choices %}
                            <option value="{{ id }}">{{ name }}</option>
                        {% endfor %}

                        {#                                {{ event_books.package_food }}#}
                    </select>
                </div>
            {% endif %}
            {#                    {{ event_books.my_venue | as_crispy_field }}#}
            {% if event_books.date %}
                <div class="mb-3">
                    <label for="id_date">Date*</label>
                    <input class="datepicker form-control" id="id_date"
                           name="date">
                </div>
            {% endif %}
            {#                    {{ event_books.date | as_crispy_field }}#}
            {{ event_books.time | as_crispy_field }}
            {% if event_books.package_food %}
                <div class="mb-3">
                    <label for="id_package_food">Package food</label>
                    <select name="package_food" id="id_package_food" class="form-control"
                            onchange="change_package_food()">
                        {% for id, name in event_books.package_food.field.choices %}
                            <option value="{{ id }}">{{ name }}</option>
                        {% endfor %}

                        {#                                {{ event_books.package_food }}#}
                    </select>
                </div>
            {% endif %}
            {#                    {{ event_books.package_food | as_crispy_field }}#}

            {% if event_books.people %}
                <div class="mb-3">
                    <label for="id_people">Total people*</label>
                    <input oninput="changePeople(this.value)" type="number" min="0"
                           class="numberinput form-control" required id="id_people"
                           name="people">
                </div>
            {% endif %}
            {{ event_books.message | as_crispy_field }}
            {{ event_books.user | as_crispy_field }}
            {{ event_books.package | as_crispy_field }}
            <div class="card">
                <div class="card-body">
                    <h6>{{ package.subtitle|capfirst }}</h6>
                    <h6 class="py-2">{{ package.description|capfirst|safe }}</h6>
                </div>
            </div>
            <div data-aos="fade-up" class="my-2">
                <iframe style="border:0; width: 100%; height: 350px;"
                        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d29177.822568320174!2d90.2143639!3d23.9169855!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1615817472603!5m2!1sen!2sbd"
                        width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="col-sm-6 col-12 align-self-end text-right">
            <div class="d-flex justify-content-end">
                <h3 class="font-weight-bold">Total: </h3>
                <h4 id="total_calculate_id" class="ml-3"></h4>
                <p>/taka</p>
            </div>
            <button type="submit" class="btn btn-success">Checkout now</button>
        </div>

    </form>

</div>

{#<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>#}
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script>
    let events_date = null
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    axios.get('/event/data/')
        .then(res => {
            $('.datepicker').datepicker({
                todayHighlight: true,
                datesDisabled: res.data
            });
        })


    var venues =
    {{ venues | queryset_as_json }}
    var package_foods =
    {{ package_foods | queryset_as_json }}
    var package =
    {{ package.package_cost }}

    var cost = {
        venue_cost: 0,
        package_cost: {{ package.package_cost }},
        package_food_cost: 0,
        people: 0,
    };
    var total_cost = 0

    function change_package_food() {
        let food_selected = parseInt(document.getElementById('id_package_food').value)
        for (const [key, value] of Object.entries(package_foods)) {
            if (value.pk === food_selected) {
                cost.package_food_cost = parseInt(value.fields.price)
            }
        }
        total_cost = cost.venue_cost + cost.package_cost + (cost.package_food_cost * cost.people)
        document.getElementById("total_calculate_id").innerHTML = total_cost.toString()
    }

    function change_event_venue() {
        let venue_selected = parseInt(document.getElementById('id_my_venue').value)
        for (const [key, value] of Object.entries(venues)) {
            if (value.pk === venue_selected) {
                cost.venue_cost = parseInt(value.fields.price)
            }
        }
        total_cost = cost.venue_cost + cost.package_cost + (cost.package_food_cost * cost.people)
        document.getElementById("total_calculate_id").innerHTML = total_cost.toString()
    }

    function changePeople(value) {
        cost.people = parseInt(value)
        total_cost = cost.venue_cost + cost.package_cost + (cost.package_food_cost * cost.people)
        document.getElementById("total_calculate_id").innerHTML = total_cost.toString()
    }
</script>
</body>
</html>